img{
    border-radius: 100%;
    width: 500px;
    height: 500px;
   }
   body{
       background-color: blue;
   }
   h1{
       color: azure;
       text-align: center;
   }
.center-text {
  text-align: center;
}


   
