img{
    border-radius: 100%;
   }
   body{
       background-color: blue;
   }
   h1{
       color: azure;
       text-align: center;
   }
.center-flex {
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
  height: 100vh;            /* ensure the container has height for vertical centering */
}

   
