img{
    border-radius: 100%;
   }
   body{
       background-color: blue;
       text-align: center;
       width: 80%;
       max-width: 800px;
       margin-top: 0;
       margin-right: auto;
       margin-bottom: 10px;
       margin-left: auto;
   }
   h1, p{
       color: azure;
   }
   
